html, body {
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
}

label, input {
  display: block;
}

.signinLinks{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.login, .register {
    font-weight: 400;
    text-decoration: none;
    background-color: rgb(93, 106, 115);
    padding: .5em;
    color:rgb(255,255,255);
}
.Logo{
    text-decoration: none;
    padding: .5em;
    color: rgb(0, 0, 0);
}
#map {
  height: 60vh;
  width: 100%;
}

.mapListContainer {
  /*  to be able scroll for parkingList  */
  overflow-y: scroll;
  height: 60vh;
  }

#placeInput {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 80%;
}

#placeInput:focus {
  border-color: #4d90fe;
}


.mapBody{
  display: grid;
  grid-template-columns: 4fr 10fr;
  /* grid-gap: 1ch; */
}

.mapListContainer, .mapContainer{
  padding: 0rem;
}

.ParkingInfo{
  display: grid;
  grid-template-areas:
    'picture Info Info'
    'picture Info Info'
    'picture cost cost';
  border: 1px solid;
  border-color: rgb(0,0,0);
}

.ParkingInfoName, .ParkingInfoAddress, .ParkingInfoCost, .ParkingPictureImg{
    padding: .5rem;
    margin: auto;
}
.ParkingInfoContainerCost, .ParkingPictureContainer{
      display: grid;
}
.ParkingPictureContainer { grid-area: picture; }
.ParkingInfoContainerInfo { grid-area: Info; }
.ParkingInfoContainerCost {
  grid-area: cost;
  background-color: rgb(83, 161, 215);
}
