html, body {
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
  }
.signinLinks{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1ch;
}
.login, .register {
    font-weight: 400;
    text-decoration: none;
    background-color: rgb(93, 106, 115);
    padding: .5em;
    color:rgb(255,255,255);
}
.Logo{
    text-decoration: none;
    padding: .5em;
    color: rgb(0, 0, 0);
    font-size: 32px;
  font-weight: bold;
}
